body{
  background-color:#242424;
}
.card{
  color:white;
  padding:1.25rem;
  margin:auto;
  background:#000459;
  width:400px;
  height:700px;
  box-shadow: 0px 0px 10px 15px white;
  border-radius:10px;
  user-select:none;
}
.card:hover{
  cursor:pointer;
}
.top{
  text-align:center;
}
.profile{
  text-align:center;
}
#card-img{
  width:200px;
  border-radius:50%;
  border: 5px solid white;
}
.info label:before{
content :" ~ ";
}
.person-info{
  border-bottom:2px solid white;
}